/*
  NAME:NAVANEETHA KRISHNAN
  ROLE:UIUX DESIGNER
  */
*{
margin:0;
padding:0;
}
@font-face {
	font-family: 'Outfit';
	src: url('../fonts/Outfit-Regular.eot');
	src: url('../fonts/Outfit-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Outfit-Regular.woff2') format('woff2'),
	url('../fonts/Outfit-Regular.woff') format('woff'),
	url('../fonts/Outfit-Regular.ttf') format('truetype'),
	url('../fonts/Outfit-Regular.svg#Outfit-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.eot');
    src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff'),
        url('../font/Poppins-Regular.ttf') format('truetype'),
        url('../font/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Material Icons Outlined';
    src: url('../fonts/MaterialIconsOutlined-Regular.eot');
    src: url('../fonts/MaterialIconsOutlined-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaterialIconsOutlined-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIconsOutlined-Regular.woff') format('woff'),
        url('../fonts/MaterialIconsOutlined-Regular.ttf') format('truetype'),
        url('../fonts/MaterialIconsOutlined-Regular.svg#MaterialIconsOutlined-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons Round';
    src: url('../fonts/MaterialIconsRound-Regular.eot');
    src: url('../fonts/MaterialIconsRound-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaterialIconsRound-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIconsRound-Regular.woff') format('woff'),
        url('../fonts/MaterialIconsRound-Regular.ttf') format('truetype'),
        url('../fonts/MaterialIconsRound-Regular.svg#MaterialIconsRound-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons Two Tone';
    src: url('../fonts/MaterialIconsTwoTone-Regular.eot');
    src: url('../fonts/MaterialIconsTwoTone-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaterialIconsTwoTone-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIconsTwoTone-Regular.woff') format('woff'),
        url('../fonts/MaterialIconsTwoTone-Regular.ttf') format('truetype'),
        url('../fonts/MaterialIconsTwoTone-Regular.svg#MaterialIconsTwoTone-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons Sharp';
    src: url('../fonts/MaterialIconsSharp-Regular.eot');
    src: url('../fonts/MaterialIconsSharp-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaterialIconsSharp-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIconsSharp-Regular.woff') format('woff'),
        url('../fonts/MaterialIconsSharp-Regular.ttf') format('truetype'),
        url('../fonts/MaterialIconsSharp-Regular.svg#MaterialIconsSharp-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    src: url('../fonts/MaterialIcons-Regular.eot');
    src: url('../fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/MaterialIcons-Regular.ttf') format('truetype'),
        url('../fonts/MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Outfit';
    color: #bcc0c6;
    background: #f5f5f5;
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
	    font-family: 'Poppins';
		font-weight:bold;
}
header{
	position:fixed;
}
.nav-bar{    
	width: 260px;
    float: left;
    height: 100vh;
	background: #1d4e49;
    overflow-y: scroll;
}
/* width */
.nav-bar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.nav-bar::-webkit-scrollbar-track {
  color:#38bdaf; 
}
 
/* Handle */
.nav-bar::-webkit-scrollbar-thumb {
  background:#009d8d; 
  border-radius: 10px;
}

/* Handle on hover */
.nav-bar:hover::-webkit-scrollbar-thumb{
  background:#38bdaf; 
}
.nav-bar::-webkit-scrollbar-thumb:hover {
  background: #6dfff0; 
}
.nav-bar>h1{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	font-size: 30px;
}
.mobile-menu img{
	width:20px;
}
header.active{
	display:none;
}
header.active + main{
	margin-left:0;
	width:100%;
}
.profile-icon{
	float: right;
	font-size: 19px;
}
.nav-list{
	float:left;
	list-style:none;
}
.nav-icon{
    vertical-align: sub;
    font-size: 20px;
    padding-right: 5px;
}
.nav-item-title>h2{
	color:#719694;
	margin-left: 10px;
}
.nav-item>a{
	color: #719694;
	margin-bottom: 10px;
	margin-left: 10px;
}
.nav-item i{
	    padding-right:8px;
}
.nav-item>a:hover{
	color:#fff;
}
.nav-button>a{
	text-decoration: none;
	margin-left: 30px;
	margin-top: 10px;
	display: inline-block;
	text-transform: capitalize;
	color: #fff;
	border-radius: 15px;
	background: #6635F2;
	padding: 5px 20px;
	margin-bottom: 50px;
}
.nav-item img{
	width:100%;
}
main{
    float: left;
    width: calc(100% - 260px);
    margin-left: 260px;
}
.heading{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #9B9A9D;
}
.nice{
	font-size: 15px;
	color: #9B9A9D;
}
.search{
    display: inline-block;
    float: left;
    border-right: 1px solid #9B9A9D;
    margin-right: 5px;
}
.total{
    float: right;
    margin-right: 30px;
}
.profil{
	float: left;
}
.profil>a{
	display: inline-block;
    float: right;
	text-decoration:none;
	margin-left: 10px;
	font-size:12px;
	text-transform:capitalize;
}
.profil i{
	    margin-left: 25px;
}
.profil img{
	width: 30px;
	border-radius: 30px;
	background: #7CD080;
	height: 30px;
}
.name{
	display:block;
	color:#35E1F2;
}
.profile{
	color:#9B9A9D;
}
.search a{
    background: #f5f5f5;
    width: 25px;
    height: 25px;
    margin-right: 6px;
}
.sear{
	font-size: 14px;
    vertical-align: sub;
}
.search i{
	    margin-top: 8px;
}
.class{
	padding-top:20px;
	padding-bottom:20px;
}
.speaking{
    background: #fff;
}
.english img{
	width: 20px;
	float: left;
}
.english{
    border-bottom: 1px solid #9B9A9D;
}
.english>h3{
	display: inline-block;
	text-transform: capitalize;
	font-size: 16px;
	color: #000000;
	float: left;
}
.nest{
	display: block;
    vertical-align: sub;
    font-size: 10px;
}
.neste{ 
	padding-left:10px;
}
.dots{
    color: #000000;
	text-decoration:none;
}
.date{
	float: left;
    width: 100%;
	padding-top: 25px;
}
.dates{
    font-size: 12px;
    text-transform: capitalize;
    color: #9B9A9D;
    display: block;
    margin-bottom: 5px;
}
.new{
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}

.photo img{
	width: 20px;
}
.photo>h4{
	margin-left: 10px;
}
.courses{
	float: left;
	width: 100%;
	padding-top: 40px;
}
.clas>h1{
	display: inline-block;
	text-transform: capitalize;
	font-size: 30px;
	color: #000000;
}
.claso>h1{
	font-size:30px;
	color:#000000;
	display:inline-block;
	text-transform:capitalize;
}
.paragraph>p{
    width: 96%;
}
.hard a{
	color: #1d4e49;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 12px;
	margin-right: 5px;
}
.signal{
    font-size: 18px;
    vertical-align: sub;
    padding-right: 2px;
}
.join a{
    color: #fff;
    background: #1d4e49;
    padding: 5px 27px;
}
.join a:hover{
	background:#27736b;
}
.white{
	background: #fff;
}
.prog h3{
	margin-bottom: 5px;
    color: #1d4e49;
}
.perwcentage{
	color: #d9d9d9;
}

.slot{
    background:#fff;
	margin-bottom:14px;
}
.slot img{
	width: 30px;
}
.tutor h4{
    font-size: 10px;
}
.teacher{
	color:#d9d9d9;
}
.icon{
	font-size: 12px;
	vertical-align: sub;
	color: #F08949;
}
.four{
    color: #F08949;
    font-size: 12px;
}
.flag{
	width:20px;
}
/*******calendar********/
.tuto{
	width: 116px;
}
.tutor-top{
position:relative;
border-right:1px solid #CFCFCF;
}
.review{
    position: absolute;
    left: 23px;
    font-size: 12px;
    padding: 4px;
    transition: 0.3s;
    top: 104px;
}
.star{
	font-size:12px;
	color:#FACB52;
}
.city{
	width:50px;
}
.fiona{
	padding-left: 133px;
	border-bottom: 1px solid #CFCFCF;
}
.usd{
    padding-left: 17px;
    font-size: 10px;
    padding-top: 5px;
}
.trail{
	color:#B2B2B2;
	font-size:10px;
}
.lesson{
	    padding-left: 10px;
}
.speak{
	color:#B2B2B2;
}
.watch{
	border: 1px solid #CFCFCF;
	padding: 2px;
	margin-right: 5px;
	font-size:20px;
}
.vid{
	border-top: 1px solid #CFCFCF;
    margin-top: 59px;
}
.book{
	font-size:12px;
	background:#023C3F;
}
.books{
	padding: 6px 29px;
	background:#023C3F;
}
.books:hover{
	background:#045b5f;
}
.book:hover{
	background:#045b5f;
}
.calendar{
	position: fixed;
    background: rgb(0 0 0 / 50%);
	bottom: 0;
    top: 0;
	left:0;
	right:0;
}
.calendar-hed{
	width: 816px;
	position: relative;
	background: #fff;
	float: left;
	left: calc(50% - 408px);
	top: 130px;
	bottom: 0;
}
.day{
    padding: 4px 11px;
    border-radius: 6px;
	transition:0.3s;
}
.day:hover{
	 background: #D9D9D9;
}
.forward{
	width: 40px;
	height: 40px;
	background:#fff;
}
.less{
	background: #023c3f;
}
.less:hover {
    background: #045b5f;
}
.active{
	padding: 4px 11px;
	border-radius: 6px;
	transition:0.3s;
	background: #D9D9D9;
}
.calendxer, .calendxers, .calendxerp{
    width: 70px;
    height: 70px;
	color:#73cbfb;
	background:#FFF6E7;
}
.calendxer{
	color:#ECBA32;
	background:#EBF5FD;
}
.calendxerp {
	background:#EFF1FE;
	color:#6F78D7;
}
.activity{
	padding: 23px 0 0 23px;
}
.chat{
	width:100%;
	float:left;
}
.hours{
	padding: 15px 0 0 10px;
}
.bg-white{
	background: #fff;
}
.ml-auto{
	margin-left: auto!important;
}
.pt-11{
	padding-top: 4px;
}
.pt-12{
	margin-top:7px;
}
.ms-11{
	margin-left:10px;
}
.bg-gray{
	color:#6D6D6D;
}
.fs-7{
	font-size:10px;
}
.bg-lightgray{
	background:#D9D9D9;
}
.fs-8{
	font-size:12px;
}
.arrow{
	width:25px;
	height:25px;
}
.dateing{
	width:20%;
}
.reminder{
	padding: 6px 10px;
	background: #5A64DC;
}
.reminders{
	padding: 6px 10px;
}
.reminders:hover{
	background:#5A64DC;
	color:#ffffff !important;
}
.fs-13{
	font-size:13px;
}
.p-16{
	padding: 16px 0px 16px 16px;
}
.meeting{
	color:#A0A1D1;
}
.bg-danger{
	background:#e73a55;
}
.fs-10{
	font-size:10px;
}
.py-8{
	padding:29px 0;
}
.mt-8{
	margin-top: 62px;
}
.month{
	width: calc(97% - 50px);
	text-align: center;
}
.tab-content{ 
	  border:1px solid #dee2e6!important; 
	  background-color: #fff!important; 
 } 
 table{ 
	 border-collapse: collapse; 
     border-spacing: 0; 
     width: 100%; 
   
 } 
 th{
	 color:#fff; 
	 text-align: left; 
	 padding: 5px; 
	 text-transform:capitalize; 
 } 
 td{ 
	 text-align: left; 
	 padding: 5px; 
	 text-transform:capitalize; 
	 color:#000000; 
 } 
 tr:nth-child(even){ 
background-color: rgba(0,0,0,.05); 
 } 
 .table-head{ 
	 background:#1d4e49; 
 } 